.btn {
  width: 13.375rem;
  height: 3.25rem;
  margin-top: 1.875rem;
  padding: 0.9375rem 2.875rem;
  font-family: var(--font-accent);
  font-size: 1.1875rem;
  font-weight: 700;
  letter-spacing: 0.2631578947368421em;
  text-transform: uppercase;
  color: #000;
  background-color: var(--text-accent);
  border-radius: 0.4375rem;
  transition: transform 0.3s ease-in;
}
@media (min-width: 75rem) {
  .btn:hover {
    transform: scale(1.1);
  }
}

label {
  font-size: 1rem;
  font-weight: 700;
}

input {
  height: 3.125rem;
  padding-left: 0.3125rem;
  border-bottom: 0.0625rem solid rgba(216, 216, 216, 0.3);
}

input::placeholder,
textarea::placeholder {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-light);
}

textarea {
  height: 9.0625rem;
  max-width: 36.5625rem;
  padding: 0.9375rem 0.3125rem;
  color: var(--text-color);
}
