.beast {
  height: 46.875rem;
  background: image-set(
      url('../../img/beast/beast-bg.jpg') 1x,
      url('../../img/beast/beast-bg.jpg') 2x
    )
    center center / cover no-repeat;
  clip-path: polygon(0% 10%, 100% 0%, 100% 80%, 0% 90%);
}
.beast__header {
  max-width: 100%;
  margin: 0;
  text-align: left;
}
.beast__title {
  font-size: 4.6875rem;
  color: var(--text-light);
}
.beast__descr {
  font-size: 1.375rem;
}

@media (max-width: 768px) {
  .beast {
    height: auto;
    clip-path: none;
  }
  .beast__title {
    font-size: 56px;
  }
  .beast__descr {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  .beast {
    background-position: top;
  }
}
